name: ci

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      NUXT_PUBLIC_SITE_URL: http://localhost:3000
      NUXT_PUBLIC_POSTHOG_PUBLIC_KEY: 'mock_key'
      NUXT_PUBLIC_POSTHOG_HOST: 'https://eu.i.posthog.com'

    steps:
      - name: Checkout
        uses: actions/checkout@v4
  
      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint

      - name: Typecheck
        run: bun run typecheck

      - name: Run tests
        run: bun run test:run
  
      - name: Build
        run: bun run build
