name: Pull Request CI

on:
  pull_request:
    branches: [ main ]

jobs:
  ci:
    name: CI Check
    runs-on: ubuntu-latest

    env:
      NUXT_PUBLIC_SITE_URL: http://localhost:3000
      NUXT_PUBLIC_POSTHOG_PUBLIC_KEY: 'mock_key'
      NUXT_PUBLIC_POSTHOG_HOST: 'https://eu.i.posthog.com'

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install --frozen-lockfile
      - run: bun run lint
      - run: bun run typecheck
      - run: bun run test:run
      - run: bun run build
